# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Environment
.env
.env.*

# Django
media/
staticfiles/
*.dump
db_backup*
_tmp_fix_users_table.sql

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Tests
.pytest_cache/
.coverage

k8s/
*.sqlite3