# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
env/
django_env/
expense_calc_env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment files
.env
.env.*

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Node / frontend
node_modules/
dist/
build/
coverage/

# Test / temp
.pytest_cache/
.coverage
htmlcov/
*.tmp

k8s/
