{% autoescape off %}
Hello {{ user.get_full_name_or_email }},

We received a request to reset the password for your FinFlow account. Click the link below to set a new password:

{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

This link is valid for {{ timeout_days }} days from the time this email was sent.

If you didn't request this password reset, you can safely ignore this email. Your password will not change unless you click the link and create a new one.

For security reasons, we will never send you your password via email.

Best regards,
The FinFlow Team
{% endautoescape %}
